<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6 .col-xs-12 ">
    <p>
      <%= f.label :status %><br>      
      <%= text_field(:order, :status, class: "form-control") %>      
    </p>
    <p>
      <%= f.label :payment_method %><br>
      <%= text_field(:order, :payment_method, class: "form-control") %>            
    </p>
    <p>
      <%= f.label :address %><br>
      <%= text_field(:order, :address, class: "form-control") %>            
    </p>
  </div>
  <div class="col-md-6 .col-xs-12 ">
    <p>
      <%= f.label :town %><br>
      <%= text_field(:order, :town, class: "form-control") %>            
    </p>
    <p>
      <%= f.label :name %><br>
      <%= text_field(:order, :name, class: "form-control") %>            
    </p>
    <p>
      <%= f.label :surname %><br>
      <%= text_field(:order, :surname, class: "form-control") %>            
    </p>
  </div>  
</div>  
<div class="control-group">
    
    <div class="controls">
      <%= f.fields_for :line_items do |builder| %>
        <%= render 'line_item_fields', :f => builder %>
      <% end %>
    </div>
    <p><%= link_to_add_fields "<i class='glyphicon glyphicon-plus icon-left'></i>Add a Product to the order".html_safe, f, :line_items %> </p>

  </div>

  <div class="actions">
    <%= f.submit 'create new order', :class => 'btn btn-success btn-lg span12' %>    
  </div>


<% end %>