<div class="app">
    <div class="jumbotron">
        <%= link_to '<i class="glyphicon glyphicon-edit"></i>Edit'.html_safe,  edit_order_path(@order), class: "btn btn-primary with-icon" %>
        <%= link_to '<i class="glyphicon glyphicon-arrow-left"></i>Back'.html_safe,  orders_path, class: "btn btn-primary with-icon" %>
        <h1>Order details</h1>

        <p id="notice"><%= notice %></p>

        <p>
        <strong>Status:</strong>
        <%= @order.status %>
        </p>

        <p>
        <strong>Payment method:</strong>
        <%= @order.payment_method %>
        </p>

        <p>
        <strong>Address:</strong>
        <%= @order.address %>
        </p>

        <p>
        <strong>Town:</strong>
        <%= @order.town %>
        </p>

        <p>
        <strong>Name:</strong>
        <%= @order.name %>
        </p>

        <p>
        <strong>Surname:</strong>
        <%= @order.surname %>
        </p>
        <p>
            <strong>Products:</strong>
            <%= render @order.line_items %>
        </p>
    </div>
</div>
