<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited
      this product from being saved:</h2>
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 .col-xs-12 ">
      <%= f.label :name %><br>
      <%= text_field(:product, :name, class: "form-control") %>
    </p>
   
    <p>
      <%= f.label :description %><br>
      <%= text_area(:product, :description, class: "form-control") %>
    </p>
    <p>
      <%= f.label :maker %><br>
      <%= text_field(:product, :maker, class: "form-control") %>
    </p>
  </div> 
  <div class="col-md-6 .col-xs-12 ">
  <p>
    <%= f.label :added_at %><br>
      <%= f.datetime_select :added_at, {}, { class: "form-control" } %>

  </p>
  <p>
    <%= f.label :amount %><br>
      <%= number_field(:product, :amount, class: "form-control") %>
  </p>
  <p>
    <%= f.label :category %><br>
    <%= text_field(:product, :category, class: "form-control") %>
  </p>
  </div> 
  </div> 
 
  <p>
    <%= f.submit 'create new product', :class => 'btn btn-success btn-lg span12' %>

  </p>
<% end %>