<div class="app">
	<h1>listing products</h1>
	
		<%= link_to '<i class="glyphicon glyphicon-plus"></i>Create New product'.html_safe,  new_product_path, class: "btn btn-primary with-icon" %>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Date added</th>
				<th>Maker</th>
				<th>Amount</th>
				<th>Cat</th>
				<th>Options</th>		
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
			<tr>
				<td><%= product.name %></td>
				<td><%= product.description %></td>
				<td><%= product.added_at %></td>
				<td><%= product.maker %></td>
				<td><%= product.amount %></td>
				<td><%= product.category %></td>
				<td>
					<%= link_to 'Show', product, class: "btn btn-sm btn-success" %>
					<%= link_to 'Edit', edit_product_path(product), class: "btn btn-sm btn-warning"%>
					<%= link_to 'Remove', product_path(product), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
				</td>
			<% end %>		
			</tr>
		</tbody>
	</table>
</div>